<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink=''><img src="../../assets/images/568px-Lufthansa_Logo_(Crane).svg.png"
                    alt="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../assets/images/menu.png" alt="#">
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" *ngFor='let items of navList'>
                        <a *ngIf="isVisible(items.navItem)" (click)='logout(items.navItem)' class="nav-link" routerLink='{{items.routerLink}}'>{{items.navItem}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>