footer{
    // background: rgb(211, 203, 203);
    background: white;
    h4{
        font-weight: bolder;
        font-size: 1.1rem;
        color: #303F9F;
    }
    p{
        font-weight: bolder;
        color: #303F9F;
    }
}